@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@300&display=swap");
body {
  width: 800px;
  height: 800px;
}
#back {
  text-align: right;
  padding: 0px;
}
#b {
  width: 200px;
  height: 30px;
  font-size: 15px;
  background-color: rgb(110, 156, 255);
  color: white;
  border: none;
  cursor: pointer;
}
h1 {
  font-family: "Nunito", sans-serif;
  font-size: 300%;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 0px;
  padding-bottom: 10px;
  margin-top: 0px;
  color: rgb(110, 156, 255);
}
#text {
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 10px;
  word-wrap: break-word;
}
textarea {
  border-color: #6e9cff;
  border-width: 5px;
  font-family: "Mukta", sans-serif;
  font-size: 18px;
  padding: 10px;
}
#final {
  margin-left: 45%;
}
#save {
  width: 100px;
  height: 30px;
  font-size: 15px;
  background-color: rgb(110, 156, 255);
  color: white;
  border: none;
  cursor: pointer;
}
