@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap");
body {
  width: 731px;
  height: 566px;
}
#title {
  padding-top: 50px;
  padding-bottom: 50px;
}

h1 {
  font-family: "Nunito", sans-serif;
  font-size: 300%;
  padding-left: 10%;
  padding-right: 10%;
}

#journal {
  display: inline-block;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 30px;
  padding-bottom: 30px;
  margin: auto;
}
#j {
  background-color: rgb(110, 156, 255);
  font-size: 17px;
  color: white;
  border-style: none;
  width: 200px;
  height: 50px;
}
#progress {
  display: inline-block;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 30px;
  padding-bottom: 30px;
  margin: auto;
}
#p {
  background-color: rgb(110, 156, 255);
  font-size: 17px;
  color: white;
  border-style: none;
  width: 200px;
  height: 50px;
}
