@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@300&display=swap");
body {
  width: 800px;
  height: 800px;
}
#back {
  text-align: right;
  padding: 0px;
}
#b {
  width: 150px;
  height: 30px;
  font-size: 15px;
  background-color: rgb(110, 120, 255);
  color: white;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}
#b:hover {
  background-color: white;
  color: rgb(110, 120, 255);
}
h1 {
  font-family: "Nunito", sans-serif;
  font-size: 300%;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 0px;
  margin-top: 0px;
  padding-bottom: 10px;
  color: rgb(110, 156, 255);
}
#list {
  margin-left: 10%;
  margin-right: 10%;
  width: 700px;
  height: 600px;
  border: none;
}
.arrowR,
.arrowL {
  border: none;
  width: 100px;
  height: 30px;
  font-family: "Nunito", sans-serif;
  background-color: rgb(110, 156, 255);
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: all 0.2s ease;
}
.arrowL:hover,
.arrowR:hover {
  color: rgb(110, 156, 255);
  background-color: white;
}
.arrowL {
  margin-left: 550px;
  margin-right: 0px;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal.is-visible {
  visibility: visible;
  opacity: 1;
}
.delete {
  width: 70px;
  height: 30px;
  border: none;
  background-color: rgb(155, 130, 255);
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
}
.delete:hover {
  color: rgb(155, 130, 255);
  background-color: white;
}
.card {
  display: inline-block;
  width: 220px;
  height: 150px;
  text-align: center;
  justify-content: center;
  vertical-align: middle;
  border: none;
  box-shadow: 6px 6px 5px grey;
  margin-left: 10px;
}
.page {
  font-family: "Nunito", sans-serif;
  border: solid;
  width: 400px;
  height: 400px;
  position: relative;
  background-color: white;
}
.view {
  width: 70px;
  height: 30px;
  border: none;
  background-color: rgb(110, 156, 255);
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-right: 2px;
}
.view:hover {
  color: rgb(110, 156, 255);
  background-color: white;
}
.con {
  display: block;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}
header {
  margin-top: 30px;
  margin-left: 20px;
}
